* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}


body {
    background: linear-gradient(45deg, #1c1e1c, #2a2d2a);

    color: #eae0d5;
    text-align: center;
    padding-top: 80px;
}

html {
    scroll-behavior: smooth;
}

/* Fixed Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    background-color: rgba(22, 24, 22, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-radius: 0 0 5px 5px;
}



nav a {
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    transition: 0.3s;
    color: #717c6a;
    font-weight: bold;
}

nav a:hover {
    color: #eae0d5;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #eae0d5;
}

.section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #eae0d5;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #eae0d5;
}


/* Project Cards */
.project-card {
    background: rgba(63, 64, 58, 0.8);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.project-title {
    font-size: 22px;
    color: #eae0d5;
    margin-bottom: 10px;
}

.project-desc {
    font-size: 16px;
    color: #717c6a;
    margin-bottom: 15px;
}

.view-project {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5f6b5e;
    color: #eae0d5;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.2s;
}

.view-project:hover {
    background-color: #3f5241;
}

.view-project:active {
    transform: scale(0.95);
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #717c6a;
}

/* Contact Links */
.contact-links a {
    color: #717c6a;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-links a:hover {
    color: #5f6b5e;
}

.certificate img {
    align-self: center;
    border: 5px solid #717c6a;
    border-radius: 10px;
    max-width: 900px;
    max-height: 1000px;
}





footer {
    margin-top: 40px;
    font-size: 14px;
    color: #eae0d5;
}


#copy-popup {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a2d2a;
    color: #eae0d5;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


